/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  header {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: blue;
    
  }
  
  header h1 {
    margin: 0;
    color: white;
  }
  
  #search {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    
  }
  
  .product-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    border: 2px black solid;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  button {
    
    color:lightseagreen;
    border: 2px black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:blue;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  